<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  
    <a class = "elucidata" href = "http://www.elucidata.io/" title = "Elucidata" id = "Elucidata"></a>

    <div class = "topnav">      
      <a class = "active" href="Support.html">SUPPORT</a>
      <a href = "FAQsGeneral.html">FAQs</a>
      <a href = "Download.html">DOWNLOAD</a>
      <a href = "Getting Started.html">GETTING STARTED</a>
      <a href = "Home.html">HOME</a>
    </div> 

    <link rel = "stylesheet" href = "../static/style.css">
  </head>
  <body>
    {{{ contents }}}
  <div class = "prefooter">

    <div class = "prefooter-support">
      Support

      <div class = "prefooter-text1">
        Email of Repo maintainer:
      </div>

      <div class = "prefooter-email1">
        <a href = "mailto:elmaven@elucidata.io">elmaven@elucidata.io</a>
      </div>

    </div>
    
    <div class = "prefooter-contact">
      Contact Us

      <div class = "prefooter-text2">
        Get in touch with us:
      </div>

      <div class = "prefooter-email2">
        <a href = "mailto:info@elucidata.io">info@elucidata.io</a>
      </div>

    </div> 

  </div>
  <footer>
    Code and documentation copyright 2017 Elucidata Inc. Code released under the GPL v2.0. Documentation is released under MIT license.
  </footer>
  </body>
</html>
